* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(75deg, #9ca8ff 0, #6488ff 25%, #1d67f3 50%, #0048bb 75%, #002b87 100%);
}

.cabecalho{
    background-color: #206bcc ;
    border-width: 0,5px;
    border-style: double;
    border-color: rgb(172, 225, 241);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-nav{
    display: flex;
    gap: 30px;
    padding-right: 40px;
}

.cabecalho-nav-item{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-weight: 400;
    font-size: 25px;
}

.conteudo{

}

.conteudo-principal-imagem{
    width: 50%;
}