* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    background-color: rgb(214, 216, 218);
}

.cabecalho{
    background-image: radial-gradient(circle at 50% 50%, #d3d2f6 0, #a6a6b5 50%, #8a8c8f 100%);
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 0px 30px rgb(49, 50, 51);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    
}

.cabecalho-imagem{
    width: 8%;
    padding-left: 2%;
}

.cabecalho-nav{
    display: flex;
    gap: 6%;
    padding-right: 8%;
}

.cabecalho-nav-item{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(10, 10, 10);
    font-weight: 400;
    font-size: 30px;
}

.cabecalho-nav a:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

.conteudo-restaurantes{
    padding-top: 8%; 
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  
}

#titulo{
    font-size: 70px;
    font-family: Geneva, Tahoma, sans-serif;
    padding:2%;
}

#irati{
    text-decoration: underline;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.restaurante{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:2%;
    height: 100%;
    width: 40%;
    background-color: aliceblue;
    padding: 4%;
}

.restaurante-escrito{
    text-align: center;
    
}

.restaurante-escrito-titulo{
    
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:0%;
    color:rgb(17, 16, 16);
    
}


.restaurante-escrito-paragrafo{
   font-size: 30px;
   font-family: sans-serif;
   padding: 6%;
   text-align:justify;
}

.restaurante-local{
    width: 95%;
    height: 430px;
    margin:2%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
}

.rodape{
    border-top: 2px solid rgb(77, 74, 74);
    margin-left: 90px;
    margin-right: 90px;
    padding: 70px;
    text-align: center;
    color: rgb(29, 28, 28);
    font-size: 25px;
    font-family: sans-serif;
}

#link-rodape{
    text-decoration: none;
    color:rgb(21, 22, 22);
}

a#link-rodape::after{
    content: "→";
  
}

@media screen and (max-width:600px){
    .principal, .conteudo{
        width:100%;
        flex-direction: column;
        padding:0px;
    }
}