* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(75deg, #9ca8ff 0, #6488ff 25%, #1d67f3 50%, #0048bb 75%, #002b87 100%);
}

.cabecalho{
    background-color: #1d2ba8 ;
    border-width: 0,5px;
    border-style: double;
    border-color: rgb(172, 225, 241);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    
}

.cabecalho-imagem{
    width: 8%;
    padding-left: 40px;
}

.cabecalho-nav{
    display: flex;
    gap: 30px;
    padding-right: 40px;
}

.cabecalho-nav-item{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
}

.conteudo{
    padding-top:8%;
    margin-bottom: 60px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.4px solid white;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.conteudo-principal-escrito-titulo{
    font-size: 250px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 2px black;
    
}

.conteudo-principal-escrito-subtitulo{
    font-size: 50px;
    color: white;
    font-family:'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 4px 2px black;
}

.conteudo-principal-imagem{
    width: 40%;
}